<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-9.1</feature>
        <feature>microProfile-5.0</feature>
        <feature>jdbc-4.3</feature>
    </featureManager>

    <!-- This template enables security. To get the full use of all the capabilities, a keystore and user registry are required. -->

    <!-- For the keystore, default keys are generated and stored in a keystore. To provide the keystore password, generate an 
        encoded password using bin/securityUtility encode and add it below in the password attribute of the keyStore element. 
        Then uncomment the keyStore element. -->
    <!--
    <keyStore password=""/> 
    -->

    <!--For a user registry configuration, configure your user registry. For example, configure a basic user registry using the
        basicRegistry element. Specify your own user name below in the name attribute of the user element. For the password,
        generate an encoded password using bin/securityUtility encode and add it in the password attribute of the user element.
        Then uncomment the user element. -->
    <basicRegistry id="basic" realm="BasicRealm">
        <user name="karl" password="wien1a"></user>
        <!--
        <user name="yourUserName" password="" />
        -->
    </basicRegistry>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9082"
                  httpsPort="9443" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

    <library id="DB2JCCLib">
        <fileset dir="jdbc" includes="jcc*.jar db2jcc_license_cusiz.jar"/>
    </library>

    <library id="Derby">
        <fileset dir="jdbc" includes="derby*.jar"/>
    </library>

    <dataSource id="db2" jndiName="jdbc/db2" type="javax.sql.DataSource">
        <jdbcDriver libraryRef="DB2JCCLib"/>
        <properties.db2.jcc databaseName="SAMPLEDB" 
                            serverName="localhost" 
                            portNumber="50000"
                            user="user1"
                            password="pwd1" />
    </dataSource>
    <dataSource id="derby" jndiName="jdbc/db2old" type="javax.sql.DataSource">
        <jdbcDriver libraryRef="Derby"/>
        <properties.derby.embedded databaseName="memory:db2" createDatabase="create"/>
    </dataSource>
</server>
